django
gunicorn
#pymysql
mysqlclient
python-dateutil
django-crispy-forms
#secretary
#django-counter-field-py3
django-suit
reportlab
django-crum
#django-model-utils
pillow<=5.0.0,>=2.4.0
django-versatileimagefield
python-decouple
django-extensions
django-autocomplete-light
django-images
django-admin-tools
