django==2.0.7
gunicorn
#pymysql
mysqlclient
django-appypod
#django-model-report
python-dateutil
#django-reports-admin
#admin-reports
#mysql-connector-python
#secretary
#templated-docs
#django-report-builder
#django-counter-field-py3
django-suit
reportlab
django-crum
#django-model-utils
pillow<=5.0.0,>=2.4.0
django-versatileimagefield
python-decouple
django-extensions
django-autocomplete-light
django-images
django-admin-tools
