{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}
	{{ block.super }}
		<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>

{% endblock %}

{% block sidebar %}
<div id="content-related">
	<div class="module" id="print-prescriptions-module">
		<h2>Print Prescriptions</h2>
		<ul class="actionlist">
			<li class="changelink">
				<a href="/admin/patient/">Print Prescriptions</a>
			</li>
		</ul>
	</div>

	<div class="module" id="daily-payments-module">
		<h2>Daily Payment Reports</h2>
		<ul class="actionlist">
			<li class="changelink">
				<a href="visit/">Today's Payments</a>
					<br>
				<!-- <a href="/visit/">Yesterday's Payments</a> -->
			</li>
		</ul>
	</div>


{% block count %}
<p>The MedRec database has the following number of records:</p>
	<ul>

		<li>There are {{ num_pats }} patients in the database.</li>

<!--
		<li>There are 1033 patients </li>
-->
		<li>There are {{ num_visits }} visits in the database.</li>
		<li>There are {{ num_prescp }} prescriptions in the database.</li>
	</ul>
{% endblock %}

<!--
	<br>
	<div class="module" id="weekly-payments-module">
		<h2>Weekly Payment Reports</h2>
		<ul class="actionlist">
			<li class="changelink">
				<a href="/admin/visit/">This Weeks Payments</a>
			</li>
		</ul>
	</div>

	<br>
	<div class="module" id="last-week-payments-module">
		<ul class="actionlist">
			<li class="changelink">
				<a href="/admin/visit/">Last Weeks Payments</a>
			</li>
		</ul>
	</div>
-->

</div>
{% endblock %}

