<html>
<body>
  <h1>Prescription</h1>
  <p>
    Prescription {{ presc.id }}</br>
    <span class="secondary">
      {{ presc.created|date:"M d, Y" }}
    </span>
  </p>

  <h3>Patient</h3>
  <p>
    {{ presc.first_name }} {{ presc.last_name }}<br>
    {{ presc.age }}
    {{ presc.gender }}<br>
    {{ presc.town }}
  </p>

  <h3>Prescriptions</h3>
  <table>
    <thead>
      <tr>
        <th>Medicine</th>
        <th>Dose</th>
        <th>Quantity</th>
        <th>Reminder</th>
      </tr>
    </thead>
    <tbody>
      {% for item in presc.items.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.product.name }}</td>
          <td class="num">${{ item.medicine }}</td>
          <td class="num">{{ item.medicine_dose }}</td>
          <td class="num">${{ item.medicine_quantity }}</td>
          <td class="num">${{ item.medicine_reminder }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
